html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    min-width: 720px;
}
header, footer {
    padding: 10px;
}
header {
    /*margin: 10px 10px 0 10px;*/
    background: lightgreen;
}
footer {
    /*margin: 0px 10px 10px 10px;*/
    text-align: right;
    background: pink;
}
.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.app-body {
    display: flex;
    flex: 1;
}
.app-content, .app-nav {
    padding: 10px;
    margin: 10px;
    background: lightblue;
}
.app-content {
    flex: 1;
}
.app-nav {
}
.app, .app-body {
    display: flex;
    flex-direction: column;
}

.app-body {
    flex-direction: row;
    flex: 1;
}
.app-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.app-nav {
    flex: 0 0 12em;
    margin-right: 0;
    order: -1; /* put the nav on the left */
}

.panel-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /*flex-grow: 1;*/
}

.panel-left {
    width: 24em;
}
.panel-right {
    overflow-y: auto;
    flex: 1;
}
.panel-top, .panel-left, .panel-right, .panel-bottom {
    /*width: 100%;*/
    /*flex: 1;*/
    padding: 10px;
    margin: 5px;
    background: lightyellow;
}
